<aside class="{{type}}">
  {{#items}}
  <article class="{{id}}">
    <a name="{{id}}"></a>
    {{image}}
    <h2>{{title}}</h2>
    <h3>{{subtitle}}</h3>
    {{{description}}}
  </article>
  {{/items}}
</aside>
