<section class="page {{id}}">
  {{image}}
  {{#overview}}
  <section class="overview">
    <h1>{{title}}</h1>
    <p>{{{description}}}</p>
  </section>
  {{/overview}}
  <div class="points">{{{points}}}</div>
</section>
