<article class="{{id}}">
  <a name="{{id}}"></a>
  {{{image}}}
  <section class="overview">
    <h2>{{title}}</h2>
    <p>{{{overview}}}</p>
  </section>
  {{#details}}
  <section class="details">
    <h3>{{title}}</h3>
    <p>{{{description}}}</p>
  </section>
  {{/details}}
  <div class="extra">{{{extra}}}</div>
</article>
