<section class="features">
  <p>{{{header-description}}}</p>
  <dl>
  {{#features}}
    <dt>{{title}}</dt>
    <dd>{{{description}}}</dd>
  {{/features}}
  </dl>
  <p>{{{footer-description}}}</p>
</section>
